:root {
  font-family: Helvetica Neue, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --primary-dark-color: #121213;
  --primary-light-color: #fff;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1b1b1c;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--primary-dark-color, #121213);
    background-color: var(--primary-light-color, #fff);
  }
  button {
    background-color: var(--primary-light-color, #fff);
  }
}
